<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="snowmonkeystudios.toappver1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tournament Signup Manager"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Tournament Signup Manager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DocIdInput" />
        <activity
            android:name=".TournamentManager"
            android:label="@string/title_activity_tournament_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddParticipant" />
        <activity
            android:name=".PlayerDetails"
            android:label="@string/title_activity_player_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>